*{
    box-sizing: border-box;
    font-family: Arial;
}

:root {
    --orange-color: #dca45b;
    --blue-color: #5784a4;
}

iframe {
    width: 100%;
    border: none;
}

div.header-section {
    background-color: var(--orange-color) ;
    text-align: center;
}

img.header-image {
    height: 200px;
    margin-top: 20px;
}

a.header-email {
    color: white;
    text-decoration: none;
    display: block;
    text-align: left;
    padding: 20px 20px;
    
    
}

a.header-email:hover {
    color: var(--blue-color)
}

h1.header-name {
    color:white;
    text-align: center;
}

div.separator {
    height: 5px;
    width: 300px;
    position: relative;
    left: 50%;
    margin-left: -150px;
    padding-bottom: 10px;
    margin-bottom: 20px;
}

div.blue-separator {
    background-color: var(--blue-color);
}
div.white-separator {
    background-color: white;
}
div.orange-separator {
    background-color: var(--orange-color);
}

h2.header-subtitle {
    color:white;
    padding-bottom: 30px;
}

div.about-section {
    text-align: center;
    padding-left: 5px;
    padding-right: 5px;
    
}

h1.about-title {
    color: var(--blue-color)
}

table.about-me {
    text-align: center;
    color: var(--blue-color);
    width: 100%;
    margin-top: 20px;
   
}

p.other-interests {
    color: var(--blue-color);
    padding-top: 20px;
}

img.body-image {
    height: 150px;
    position: relative;
    margin-top: 20px;
    margin-bottom: -26px;
    margin-right: 80px;
    left: 30%;
}

div.links-section {
    text-align: center;
    background-color: var(--blue-color);
    padding-bottom: 20px;
}

h1.links-title {
    color: white;
    padding-top: 20px;
}

div.links-section a {
    color: white;
    font-size: 20px;
}

div.contact-section {
    background-color: white;

}


div.contact-frame {
    position: relative;
    background-color: var(--orange-color);
    text-align: center;
    margin:0 0 0 0 ;
    border: 3px solid var(--blue-color);

  
}

img.frame-img {
    width: 100px;
}

table.contact-frame {
    text-align: center;
    width: 100%;
    color: white;
}

table.contact-frame a {
    text-decoration: none;
    color: white;
    border: 3px solid white;
    padding: 6px;
    font-size: 18px;
    white-space: nowrap;
}

table.contact-frame a:hover {
    color: var(--blue-color);
    border: 3px solid var(--blue-color);

}

a.navigation-link {
    color: var(--blue-color);
    text-decoration: none;
}

